@media only screen and (max-width: 890px) {
	.nav-content {
		width: auto;
		padding: 1em;
	}
}

@media only screen and (min-width: 890px) {
	.nav-content {
		width: 50em;
	}
}

.nav-content {
	margin: 4vh;
	padding-top: 4em;
	display: flex;
	margin: auto;
	align-items: center;
	flex-direction: column;
}

.nav-border {
	background-color: black;
	box-shadow: 0px 2px 10px black;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	top: 0px;
}

#navbar {
	margin: 4vh;
	display: flex;
	width: 50em;
	margin: auto;
	align-items: left;
	flex-direction: column;
}

.nav-row {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	overflow: hidden;
	align-items: center;
}

.nav-item {
	margin: .2em;
}

.nav-container a {
	display: block;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 8px;

	text-decoration: none;

	margin: 0;
}

.nav-logo {
	color: #32a852;
	font-weight: bold;
}

.nav-logo img {
	width: 3em;
	margin: 0;
}

.nav-link {
	color: white;
	margin: 0;
	height: 100%;

	transition-duration: .2s;
}

.nav-link:hover {
	border-radius: 2vh;
	background-color: #32a852;
}
